* {
    margin: 0;
    padding: 0;
}

body {
   background-color: #efefef;
}

#landing-page {
    height: 1280px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

header {
    height: 600px;
    line-height: 600px;
    background-color: #0a0a3f;
    padding-top: 200px;
    padding-bottom: 10rem;
}

h1 {
    color: #efefef;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 900;
}

p {
    color: #efefef;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    padding-bottom: 10px;
    font-size: 2rem;
    line-height: 3.5rem;
}

#scroll-instructions {
    display: flex;
    flex-direction: column;
    background-color: #0a0a3f;
    align-items: center;
    padding-bottom: 200px;
}

h4 {
    color: #efefef;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}


h3 {
    color: #efefef;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 2.5rem;
    padding-top: 500px;
    line-height: 3.5rem;
}

#h3-modifications {
    color: #efefef;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 2.5rem;
    padding-top: 0px;
}

#scroll-down-arrow {
    width: 30px;
    padding-top: 10px;
}

#intro-fact {
    position: relative;
    height: 1300px;
    width: 1920px;
    padding-top: 0;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#all-wrong-final-page-section1 {
    position: relative;
    height: 100rem;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#all-wrong-final-page-section2 {
    position: relative;
    height: 1000px;
    width: 1920px;
    padding-top: 0;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#decision1 {
        position: relative;
        height: 1300px;
        width: 1920px;
        padding-top: 0;
        padding-bottom: 300px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0a0a3f;
    }
    

#decision1-container {
    position: relative;
    height: 800px;
    width: 1920px;
    padding-top: 0;
    padding-bottom: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#crowd {
    width: 1935px;
    position: absolute;
    right: -10px;
    bottom: 0;
    /* padding-bottom: 100px; */
}

#full {
    width: 1858px;
    position: absolute;
    bottom: 0;
    right: -20px;
}

#half {
    width: 1455px;
    position: absolute;
    bottom: 0;
    right: -20px;
}

#third1 {
    width: 730px;
    position: absolute;
    bottom: 0;
    right: -20px;
}

#noah-tired1 {
    position: absolute;
    padding-top: 150px;
    width: 650px;
    margin-left: 635px;
}

#noah-tired2 {
    position: absolute;
    padding-top: 90px;
    width: 650px;
    margin-left: 635px;
}

#start-button {
    position: absolute;
    left: 45%;
    padding-top: 4.5rem;
}

.button {
    height: 110px;
    transition: filter .3s ease-in-out;
    opacity: 1;
}

.button:hover {
    transform: scale(1.10);
    transition: all 0.2s;
}

.button:active {
    transform: scale(0.95);
    transition: all 0.2s;
}


/* page1 extra styling */

#story-intro-text {
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #efefef;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
    padding-top: 50px;
    font-weight: 600;
    padding-bottom: 50px;
}

.line {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.line-top {
    width: 500px;
    margin-top: 20rem;
    margin-bottom: 3rem;
}

.line-top1 {
    width: 500px;
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.line-top3 {
    width: 500px;
    margin-top: 25rem;
    margin-bottom: 3rem;
}

.line-bottom {
    width: 460px;
    margin-top: 3rem;
    margin-bottom: 20rem;
}

.line-bottom1 {
    width: 460px;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

#worried-noah {
    padding-top: 150px;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
}

#noah-working-computer {
    padding-top: 140px;
    width: 1000px;
    padding-left: 35rem;
}

#text3{
    padding-bottom: 35rem;
}

#text4{
    padding-bottom: 5rem;
}

#button-container {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    /* background-color: aliceblue; */
}

h5 {
    color: #efefef;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 3.5rem;
    padding-top: 6rem;
    /* padding-top: 100px; */
}

#page2 {
    position: relative;
    height: 1300px;
    width: 1920px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

.js-scroll {
    opacity: 0;
}

/* this will only be applied when both classes are present */
.scrolled.fade-in3 {
    animation: fade-in ease-in-out 1s both;
    animation-delay: 2.6s;
}

/* keyframe animations */
@keyframes fade-in3 {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/* this will only be applied when both classes are present */
.scrolled.fade-in {
    animation: fade-in ease-in-out 1s both;
    animation-delay: 1.9s;
}

/* keyframe animations */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/*this will only be applied when both classes are present*/
.scrolled.fade-in1 {
    animation: fade-in ease-in-out 1s both;
    animation-delay: 1.2s;
}

/* keyframe animations */
@keyframes fade-in1 {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/*this will only be applied when both classes are present*/
.scrolled.fade-in2 {
    animation: fade-in ease-in-out 1s both;
    animation-delay: 0.5s;
}

/* keyframe animations */
@keyframes fade-in2 {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/* decision1 option1 page styling */

#decision1-option1 {
    padding-top: 5rem;
}

#did-you-know-that1 {
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#arrow-button {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 80rem;
}

/* page3 stays up drink coffee page styling */

#coffee1 {
    margin-top: 20rem;
}

/* chooses to drink coffee page styling */

#coffee-cup-image {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 48rem;
    margin-bottom: 8rem;
}

#decision1-coffee {
    position: relative;
    height: 1330px;
    width: 1920px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#page3 {
    position: relative;
    height: 1150px;
    width: 1920px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#phone-illustration {
    padding-top: 90px;
    width: 600px;
    padding-left: 41rem;
}


/* first decision goes to bed page extra page styling */

#thumbs-up {
    padding-top: 140px;
    padding-bottom: 100px;
    width: 155px;
    padding-left: 45%;
}


/* goes to bed after scrolling page styling */

#page4 {
    position: relative;
    height: 3000px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#page5 {
    position: relative;
    height: 3500px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#page6 {
    position: relative;
    height: 1820px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

h6 {
    color: #efefef;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
    padding-top: 38rem;
    padding-bottom: 5rem;
    font-weight: 600;
}

#h6-modifications {
    padding-top: 20rem;
    padding-bottom: 0;
}

#flashback {
    width: 1920px;
    height: 4720px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#flashback-image {
    width: 1920px;
    height: 4720px;
}

#flashback1 {
    width: 1920px;
    height: 3564px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0a3f;
}

#flashback-image1 {
    width: 1920px;
    height: 4715px;
}

.line-top2 {
    width: 500px;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.line-bottom2 {
    width: 500px;
    margin-top: 5rem;
    margin-bottom: 0;
}

/*this will only be applied when both classes are present*/
.scrolled.shake {
    animation: shake 0.5s;
    animation-iteration-count: 20;
    opacity: 1;
}

/* keyframe animations */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#smaller-padding {
    padding-top: 350px;
}


#arrow-button2 {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 95rem;

}